<br><br>Please click on the "Book Tickets" link to make your reservations.<br><br><br><br>

<big><big><big><big><big><center>2007-2008 Motor Coach Schedule</center></big> </big>
</big>
</big>
</big>


<h4>Start of School 2007</h4>
<ul>Albany to Williams
<ul><li>Wednesday, August 29 departs Albany at 05:15 PM</li> 

<li>Saturday, September 01 departs Albany at 06:15 PM</li>
<li>Monday, September 03 departs Albany at 06:15 PM</li></ul><br>
New York to Williams
<ul><li>Monday, September 03 departs New York at 02:00 PM</li></ul> </ul>

<h4>Thanksgiving 2007 </h4>
<ul>Williams to Albany
<ul><li>Tuesday, November 20 departs Williams at 09:00 AM</li> 
<li>Tuesday, November 20 departs Williams at 12:00 PM</li> 
<li>Tuesday, November 20 departs Williams at 04:00 PM</li> 
<li>Wednesday, November 21 departs Williams at 06:30 AM</li> 
<li>Wednesday, November 21 departs Williams at 09:30 AM</li> 
<li>Wednesday, November 21 departs Williams at 12:30 PM</li> </ul><br>
Williams to New York
<ul><li>Tuesday, November 20 departs Williams at 01:00 PM</li>
<li>Tuesday, November 20 departs Williams at 03:00 PM</li>
<li>Tuesday, November 20 departs Williams at 04:15 PM</li>
<li>Wednesday, November 21 departs Williams at 03:00 PM</li></ul><br>
Williams to Boston
<ul><li>Tuesday, November 20 departs Williams at 04:30 PM</li></ul><br>
Albany to Williams
<ul><li>Sunday, November 25 departs Albany at 01:30 PM</li>
<li>Sunday, November 25 departs Albany at 04:30 PM</li>
<li>Sunday, November 25 departs Albany at 07:30 PM</li>
<li>Sunday, November 25 departs Albany at 11:15 PM</li></ul><br>
New York to Williams
<ul><li>Sunday, November 25 departs New York at 01:00 PM</li>
<li>Sunday, November 25 departs New York at 02:30 PM</li>
<li>Sunday, November 25 departs New York at 06:00 PM</li></ul><br>
Boston--Logan Airport to Williams
<ul><li>Sunday, November 25 departs Boston--Logan Airport at 05:00 PM</li></ul><br>
Boston--North Station to Williams
<ul><li>Sunday, November 25 departs Boston--North Station at 05:25 PM</li></ul>
<h4>Winter Break 2007</h4>
Williams to Albany
<ul><li>Saturday, December 15 departs Williams at 07:30 AM</li>
<li>Saturday, December 15 departs Williams at 10:30 AM</li>
<li>Saturday, December 15 departs Williams at 01:30 PM</li>
<li>Sunday, December 16 departs Williams at 06:30 AM</li>
<li>Sunday, December 16 departs Williams at 09:30 AM</li>
<li>Sunday, December 16 departs Williams at 12:30 PM</li>
<li>Sunday, December 16 departs Williams at 03:30 PM</li>
<li>Monday, December 17 departs Williams at 08:30 AM</li>
<li>Monday, December 17 departs Williams at 11:30 AM</li>
<li>Monday, December 17 departs Williams at 02:30 PM</li>
<li>Tuesday, December 18 departs Williams at 06:30 AM</li>
<li>Tuesday, December 18 departs Williams at 09:30 AM</li>
<li>Tuesday, December 18 departs Williams at 12:30 PM</li></ul><br>
Williams to New York
<ul><li>Saturday, December 15 departs Williams at 01:00 PM</li>
<li>Sunday, December 16 departs Williams at 01:00 PM</li>
<li>Monday, December 17 departs Williams at 03:30 PM</li></ul><br>
Williams to Boston
<ul><li>Saturday, December 15 departs Williams at 09:00 AM</li>
<li>Sunday, December 16 departs Williams at 09:00 AM</li>
<li>Monday, December 17 departs Williams at 04:15 PM</li></ul><br>
Albany to Williams
<ul><li>Tuesday, January 01 departs Albany at 04:30 PM</li>
<li>Tuesday, January 01 departs Albany at 11:15 PM</li>
<li>Wednesday, January 02 departs Albany at 12:00 PM</li>
<li>Wednesday, January 02 departs Albany at 01:30 PM</li>
<li>Wednesday, January 02 departs Albany at 03:00 PM</li>
<li>Wednesday, January 02 departs Albany at 04:30 PM</li>
<li>Wednesday, January 02 departs Albany at 06:00 PM</li>
<li>Wednesday, January 02 departs Albany at 07:30 PM</li>
<li>Wednesday, January 02 departs Albany at 11:15 PM</li></ul><br>
New York to Williams
<ul><li>Wednesday, January 02 departs New York at 12:00 PM</li>
<li>Wednesday, January 02 departs New York at 02:30 PM</li>
<li>Wednesday, January 02 departs New York at 05:00 PM</li></ul><br>
Boston--Logan Airport to Williams
<ul><li>Wednesday, January 02 departs Boston--Logan Airport at 05:00 PM</li></ul><br>
Boston--North Station to Williams
<ul><li>Wednesday, January 02 departs Boston--North Station at 05:25 PM</li></ul>
<h4>Dead Week 2008</h4>
Williams to Albany
<ul><li>Friday, January 25 departs Williams at 08:30 AM</li>
<li>Friday, January 25 departs Williams at 11:30 AM</li></ul><br>
Williams to New York
<ul><li>Friday, January 25 departs Williams at 12:00 PM</li>
<li>Friday, January 25 departs Williams at 04:15 PM</li></ul><br>
Williams to Boston
<ul><li>Friday, January 25 departs Williams at 04:30 PM</li></ul><br>
Albany to Williams
<ul><li>Wednesday, January 30 departs Albany at 01:30 PM</li>
<li>Wednesday, January 30 departs Albany at 04:30 PM</li>
<li>Wednesday, January 30 departs Albany at 07:30 PM</li>
<li>Wednesday, January 30 departs Albany at 11:15 PM</li></ul><br>
New York to Williams
<ul><li>Wednesday, January 30 departs New York at 12:00 PM</li>
<li>Wednesday, January 30 departs New York at 02:30 PM</li>
<li>Wednesday, January 30 departs New York at 05:00 PM</li></ul><br>
Boston--Logan Airport to Williams
<ul><li>Wednesday, January 30 departs Boston--Logan Airport at 05:00 PM</li></ul><br>
Boston--North Station to Williams
<ul><li>Wednesday, January 30 departs Boston--North Station at 05:25 PM</li></ul>
<h4>Spring Break 2008</h4>
Williams to Albany
<ul><li>Friday, March 14 departs Williams at 06:30 AM</li>
<li>Friday, March 14 departs Williams at 09:30 AM</li>
<li>Friday, March 14 departs Williams at 12:30 PM</li>
<li>Friday, March 14 departs Williams at 03:30 PM</li>
<li>Saturday, March 15 departs Williams at 06:30 AM</li>
<li>Saturday, March 15 departs Williams at 09:30 AM</li>
<li>Saturday, March 15 departs Williams at 12:30 PM</li>
<li>Saturday, March 15 departs Williams at 03:30 PM</li></ul><br>
Williams to New York
<ul><li>Friday, March 14 departs Williams at 01:00 PM</li>
<li>Friday, March 14 departs Williams at 03:00 PM</li>
<li>Friday, March 14 departs Williams at 04:15 PM</li></ul><br>
Williams to Boston
<ul><li>Friday, March 14 departs Williams at 10:30 AM</li></ul><br>
Albany to Williams
<ul><li>Sunday, March 30 departs Albany at 12:00 PM</li>
<li>Sunday, March 30 departs Albany at 01:30 PM</li>
<li>Sunday, March 30 departs Albany at 03:00 PM</li>
<li>Sunday, March 30 departs Albany at 04:30 PM</li>
<li>Sunday, March 30 departs Albany at 06:00 PM</li>
<li>Sunday, March 30 departs Albany at 07:30 PM</li>
<li>Sunday, March 30 departs Albany at 11:15 PM</li></ul><br>
New York to Williams
<ul><li>Sunday, March 30 departs New York at 12:00 PM</li>
<li>Sunday, March 30 departs New York at 02:30 PM</li>
<li>Sunday, March 30 departs New York at 05:00 PM</li></ul><br>
Boston--Logan Airport to Williams
<ul><li>Sunday, March 30 departs Boston--Logan Airport at 05:00 PM</li></ul><br>
Boston--North Station to Williams
<ul><li>Sunday, March 30 departs Boston--North Station at 05:25 PM</li></ul>
<h4>Summer Vacation 2008</h4>
Williams to Albany
<ul><li>Sunday, May 18 departs Williams at 07:00 AM</li>
<li>Sunday, May 18 departs Williams at 01:00 PM</li>
<li>Monday, May 19 departs Williams at 09:00 AM</li>
<li>Monday, May 19 departs Williams at 12:00 PM</li>
<li>Tuesday, May 20 departs Williams at 06:30 AM</li>
<li>Tuesday, May 20 departs Williams at 09:30 AM</li>
<li>Tuesday, May 20 departs Williams at 12:30 PM</li></ul><br>
Williams to New York
<ul><li>Monday, May 19 departs Williams at 04:15 PM</li></ul>