<p>
Welcome to the Gambier Coach, the original student-run transportation service at Kenyon. We have used luxury motor coaches to transport students to and from Columbus airport during breaks over the academic year for eight years.  Our buses provide students with a spacious, air-conditioned ride including a bathroom and reclining seats.  Tickets are $25 each. If you have questions or concerns please feel free to contact us at: 
</b>
<p>
<p>
<B> NOTE: If you are creating an account, please check the junk folder of your email for your verification code!
<p>
Clarification about Wait List: </B> If you get off of the waitlist before reservations close, you will receive an email that allows you to make the reservation online. If you instead get on the bus if there are empty seats, you still need to pay the conductor directly, as this is <B> not </B> affected by the waitlist.
<p>
<B>Reservations close at 9 pm the night before the bus is scheduled to leave</B>
<p>
<B> Have any questions? </B> Please read our <a href="http://www.gambiercoach.com/help">Frequently Asked Questions</a> page or contact gambiercoachhelp@gmail.com
<p>
Director of Operations:
<p>
Matthew Pantalon at pantalon1@kenyon.edu or (203) 804-0495
<p>
Director of Marketing:
<p>
Callen Morris at morris1@kenyon.edu
<p>
We look forward to serving you!
<p>
<p>
<B>IMPORTANT PLEASE READ!
<p>
<B>PSA: Unfortunately, there is currently a problem with the credit card processing technology (the company we use is undergoing an update), so when booking a ticket, select cash/check and then email gambiercoachhelp@gmail.com (if you want to pay with a credit/debit). Or pay cash upon arrival to your bus time.