<h3><%= Setting::NAME %> - Contact Us</h3>

<font size="2" face="helvetica,arial"> If you have questions about the Service, please read our <a href="http://www.williamstransport.org/help">Frequently Asked Questions</a>. However, if you question is still unanswered, please feel free to contact:
</font>
<ul>
        <font size="2" face="helvetica,arial"><b> Rachel Hudson <br>
        </b> Executive Director <i><br>
        </i> E-Mail: motorcoach@wso.williams.edu</font>
</ul>
      <font size="2" face="helvetica,arial"><br>
      <u>Mailing Address:</u>
      </font>
      <ul>
        <font face="helvetica,arial" size="2"><b>Williams Transport </b><br>
         2820 Paresky
<br>
       Williamstown, MA 01267<br>
        </font>
</ul>