<h3><%= Setting::NAME %> - Contact Us</h3>

<font size="2" face="helvetica,arial"> If you have questions about the Service, please read our <a href="http://www.gambiercoach.com/help">Frequently Asked Questions</a>. However, if your question is still unanswered, please feel free to contact:
</font>
<ul>
        <font size="2" face="helvetica,arial"><b>Matthew Pantalon<br>
        </b> Gambier Coach Director of Operations<i><br>
        </i> E-Mail: gambiercoachhelp@gmail.com or pantalon1@kenyon.edu</font>
<p>
        <font size="2" face="helvetica,arial"><b>Callen Morris<br>
        </b> Gambier Coach Director of Marketing<i><br>
        </i> E-Mail: morris1@kenyon.edu </font>
</ul>
      <font size="2" face="helvetica,arial"><br>
      <u>Mailing Address:</u>
      </font>
      <ul>
        <font face="helvetica,arial" size="2"><b>Gambier Coach </b><br>
        PO Box 1663<br>
      Gambier, OH  43022 <br>
        </font>
</ul>