<h3><%= Setting::NAME %> - Group Tickets</h3>

<body>
Need transportation for your student group or sports team? With at least a month's advance notice, we can set up a special charter for your group. Just <a href="http://www.kenyoncoach.com/about">contact us</a> and we'll help you out. 
</body>