<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
<style type="text/css">
<!--
.style1 {
	font-size: 24px;
	font-weight: bold;
}
.style2 {
	font-size: 17px;
	font-weight: bold;
}
.style3 {font-size: 16px}
.style4 {font-size: 15px}
-->
</style>
</head>

<body>
  <h2 align="center"><span class="style1">Frequently Asked Questions</span></h2>

  <p><span class="style2">NOTE: Refunds cannot be given on uncanceled tickets. You can cancel/change reservations any time until  9 PM the day before your bus leaves. After that time, all sales are final.  Thank You!</span></p>
  <p><a href="#Where">Where Can I Find The Service Schedule? </a></p>
  <p><a href="#When">When Can I Purchase Tickets?</a></p>
  <p><a href="#How">How Do I Pay For My Tickets?</a></p>
  <p><a href="#Deadline">What If I Miss The Ticket Reservation Deadline?</a></p>
  <p><a href="#Refund">Can I Get A Refund?</a></p>
  <p><a href="#Work">How Do E-Tickets Work?</a></p>
  <p><a href="#Student">What Is A Student Conductor?</a></p>
  <p><a href="#Depart">Where Do The Motor Coaches Depart From On Campus?</a></p>
  <p><a href="#Travel">Where Exactly Do The Motor Coaches Travel? (Departure Locations) </a></p>
  <p><a href="#Long">How Long Do The Motor Coaches Take?</a></p>
  <p><a href="#Early">How Early Do I Need To Be At My Airport? </a></p>
  <p><a href="#OnTime">Do The Motor Coaches Depart On Time?</a></p>
  <p><a href="#Missed">I Missed My Motor Coach Departure. What Should I Do?</a></p>
  <p><a href="#Weather">What's The Weather Cancellation Policy? </a></p>
  <p><a href="#Contact">Contact Us</a></p>
  <a name="Where"></a>
  <h2 class="sectionBreak">Where Can I Find The Service Schedule?</h2>
 <p class="small"><span class="style4">The schedule can also be found  on the "2007/2008 Schedule" page of our website.    </p>
  <p class="small"><a name="When"></a> </p>
  <h2 class="sectionBreak">When Can I Purchase Tickets?</h2>
  <p class="small"><span class="style4">An e-mail  will be sent to all students about upcoming Motor Coach departures a few weeks  before each break. Tickets can be purchased online through our new Web site,  <a href="http://www.williamstransport.org">http://www.williamstransport.org</a>, and your E-Ticket confirmation will be sent  to you by e-mail. Using a credit card, you may purchase tickets until 9:00 PM  the day before your departure.</span></p>
  <a name="How"></a>
  <h2 class="sectionBreak">How Do I Pay For My Tickets?</h2>
  <p class="small"><span class="style4">Tickets may  be purchased with cash, a check payable to Williams College,  with a credit card payment, or a charge to your term bill. Cash and check  payments can be placed in an enveloped (addressed to 2820 Paresky Center) and taken to the Campus Post Office in the Paresky Center.</span></p>
  <p class="small"><a name="Deadline" id="Deadline"></a> </p>
  <h2 class="sectionBreak">What If I Miss The Ticket Reservation Deadline?</h2>
  <p class="small"><span class="style4">With  our online reservation system you can purchase tickets <em>until 9:00 PM the day before the motor coach's departure</em>. Tickets cannot be  purchased after this time. </span></p>
  <a name="Refund"></a>
  <h2 class="sectionBreak">Can I Get A Refund?</h2>
  <p class="small"><span class="style4">You may cancel your  tickets until 9 PM the day before your departure. We <strong>cannot</strong> offer  refunds after this point because final passenger counts must be delivered to  the motor coach companies and our student conductors.</span></p>
  <p class="small"><a name="Work" id="Work"></a> </p>
  <h2 class="sectionBreak">How Do E-Tickets Work?</h2>
  <p class="small"><span class="style4">E-tickets  replace conventional tickets by giving you a confirmation number, which you  will receive by e-mail after making your reservation on our online website. A  designated Student Conductor will check your confirmation number as you board  the board.</span></p>
    <a name="Student"></a>
  <h2 class="sectionBreak">What Is A Student Conductor?</h2>
  <p class="style4">As a Student  Conductor, you are personally responsible for making sure that all passengers  have reserved tickets before they board. In exchange for fulfilling your  responsibilities, your ticket will be free. We encourage you to volunteer if  you are comfortable handling these responsibilities. </p>
  <ul class="style4">
    <li><span dir="ltr"><u>RESPONSIBILITIES:</u></span> </li>
    <li><span dir="ltr">You will receive a list by e-mail of the names  and confirmation numbers of all the passengers on your</span> </li>
    <li><span dir="ltr">Student Conductors must arrive 30 minutes  before the scheduled departure of their motor coach </span></li>
    <li><span dir="ltr">Check-in with the Driver upon arrival </span></li>
    <li><span dir="ltr">When students start to board, take their names  and confirmation numbers down. If any students wish to board who are not on the  list, take down their <strong>Name, 7-digit Williams ID, Unix ID, SU Box, and Phone Numbers.</strong> In order  to receive your refund, you'll be asked to submit these electronically after the  trip.</span></li>
    <li><span dir="ltr">If there are any problems or you need  assistance, talk with the Driver</span></li>
  </ul>
  <p class="small"><a name="Depart" id="Depart"></a> </p>
  <h2 class="sectionBreak">Where Do The Motor Coaches Depart From On Campus?</h2>
  <p class="small"><span class="style4">Recently,  there has been a change in the location of our departures. <strong>The new location  will be on Stetson Road,  close to the Dennett end of Mission   Park.</strong></span></p>
    <a name="Travel"></a>
  <h2 class="sectionBreak">Where Exactly Do The Motor Coaches Travel?</h2>
  <ul class="style4">
    <li><span dir="ltr"><strong>Albany Airport Departures</strong></span> will pick up and drop off students in front of the airport's Main Terminal.<span dir="ltr"> </span></li>
    <li><span dir="ltr"><strong>New York City Departures</strong></span> will drop off and pick up students  on West 31st Street, between 8th Avenue and 9th Avenue.  (Not directly in front of MSG/Penn Station). </li>
    <li><span dir="ltr"><strong>Boston Departures</strong></span> will  first drop off students at the corner of Causeway Street and Canal Street, which is directly outside  of North Station. Students returning to campus from North Station will be  picked up at this same location. Students continuing on to Logan Airport  will be dropped off in front of the airline of their choice. All students  returning from Logan   Airport will be picked up  in front of the American Airlines area of Terminal B. </li>
  </ul>
  <p class="small"><a name="Long" id="Long"></a> </p>
  <h2 class="sectionBreak">How Long Do The Motor Coaches Take?</h2>
  <p class="style4">Our motor coach  companies estimate the following travel times to/from Williams College:</p>
  <ul class="style4">
    <li><span dir="ltr"><strong>Albany Airport:</strong></span> 1 hour and 15 minutes</li>
    <li><span dir="ltr"><strong>New York City:</strong></span> 4 hours and 30 minutes</li>
    <li><span dir="ltr"><strong>Boston's  North Station:</strong></span> 3  hours and 15 minutes</li>
    <li><span dir="ltr"><strong>Boston's  Logan Airport:</strong></span> 3 hours and 30 </li>
  </ul>
  <p class="style4">Please Note: These are only <em>estimates</em> and may vary due to traffic and  weather conditions.</p>
  <a name="Early"></a>
<h2 class="sectionBreak">How Early Do I Need To Be At My Airport?</h2>
  <p class="small"><span class="style4">We strongly  suggest arriving at your airport at least two hours prior to your scheduled  departure, which means departing campus at least three hours and 15 minutes  before your scheduled departure from Albany.  The Williams Transport is not responsible for any costs due to missed flights  or other connecting transportation. This includes, but is not limited to, cab  fare, hotel rooms, meals, plane tickets, and incidental or consequential  damages arising from the use of this service. </span></p>
  <p class="small"><a name="OnTime" id="OnTime"></a> </p>
  <h2 class="sectionBreak">Do The Motor Coaches Depart On Time?</h2>
  <p class="style4">Motor  Coaches departing Williamstown are strictly instructed to <u>depart precisely  on time</u>. Students have planes to catch and they must get to their  destination on time. <strong>We strongly urge arriving  at the departure location 15 minutes prior to your scheduled departure from  Williamstown. Please do not email us asking whether or not the motor coach can  wait for you.</strong></p>
  <blockquote class="style4">
    <p> Note: Motor Coaches returning to Williamstown  are not under such stringent time pressure. If a large number of passengers are  not on a motor coach at its scheduled departure time (drivers have exact  passenger counts), the motor coach may wait a few minutes, at the driver's sole  discretion. The last motor coach of the day usually waits longer than earlier  ones. </p>
  </blockquote>
  <a name="Missed"></a>
<h2 class="sectionBreak">I Missed My Motor Coach Departure. What should I do?</h2>
  <p class="small"><span class="style4">If you are returning to campus from Albany, please take the next motor coach to  campus. The Motor Coach Service is not responsible if you miss your bus and  will <u>not</u> reimburse the cost of privately arranged transportation. If you  are stuck at the Albany   Airport and need to get  back campus, call Veteran's Taxi at (413) 663-8300. If you need to speak to  someone at Williams   College during a vacation  period, please call Williams College Security at (413) 597-4444. </span></p>
  <p class="small"><a name="Weather" id="Weather"></a> </p>
  <h2 class="sectionBreak">What's The Weather Cancellation Policy?</h2>
  <p class="small"><span class="style4">Cancellations  due to weather will be at the sole discretion of the motor coach company, whose  decision is final. This decision will be made and announced only at. <u>Please  do not call to see if a coach will be delayed</u>; this decision will be made  at the last possible moment. If departures are delayed, they will resume as  soon as meteorologically possible. If you are unable to use your ticket because  your motor coach is cancelled or delayed due to weather, you will receive a  refund of the motor coach ticket price. </span></p>
  <a name="Contact"></a>
<h2 class="sectionBreak">Who Should I Contact With Additional Questions?</h2>
  <p class="small"><span class="style4">If your question is not answered here, please contact Rachel Hudson by e-mailing her at <a href="mailto:motorcoach@wso.williams.edu">motorcoach@wso.williams.edu</a>. </span></p>
  </p>
</div>
</div></div>
</body></html>