<body>
<center>
  <p><font color="#000000" size="5" face="helvetica,arial"> <strong>Frequently Asked Questions</strong></font></p>
  <p><font color="#000000" size="2" face="helvetica,arial"><strong>NOTE: Refunds cannot be given on uncanceled tickets. You can cancel/change reservations any time until 9 PM the day before your bus leaves. After that time, sales are finalized. Thank You!</strong></font> </p>
</center>
<p><font color="#000000" face="helvetica,arial"><font size="3"><u><b>How Does the Electronic Ticket Work?</b></u></font><br>
  When you make a reservation, you will receive an electronic ticket number by e-mail. You must copy this number and bring it with you; a Student Conductor will collect it when you board the bus.</font></p>
<p><font color="#000000" face="helvetica,arial"><font size="3"><u><b>What is a Student Conductor?</b></u></font><br>
<font face="helvetica, arial">As a Student Conductor, you are personally responsible for collecting confirmation numbers of the passengers on your motor coach. In exchange for fulfilling your responsibilities, your ticket will be free. We encourage you to volunteer if you are comfortable handling these responsibilities.</font></font></p>
<p><font color="#000000" face="helvetica, arial">RESPONSIBILITIES:</font></p>
<p><font color="#000000" face="helvetica, arial">1. Student Conductors must arrive 25 minutes before the scheduled departure of their motor coach. Check-in with the driver upon arrival <br>
  2. The night before your departure, you will receive a list by e-mail of the names and confirmation numbers of all the passengers on your motor coach. Print this out and bring it with you for your trip <br>
  3. When students start to board, check off their names and confirmation numbers. These confirmation numbers are equivalent to tickets <br>
  4. Students without tickets may purchase tickets at the door by giving you their name, cell phone number, campus e-mail address, and campus mail address <br>
  5. If there are any problems or you need assistance, talk with the Driver <br>
  6. After your trip, you will receive by e-mail a link to a form where you will enter information from your passenger sheet. Once you do this, your ticket will be refunded. </font> </p>
<p><font color="#000000" face="helvetica,arial"><font size="3"><u><b>I Missed My Motor Coach Departure. What do I do?</b></u></font><br>
<font size="3"> If you are returning to campus from Columbus, please take the next motor coach to campus. The Coach Service will <u>not</u> reimburse the cost of privately arranged transportation.</font></font></p>
<p><font color="#000000" face="helvetica,arial"> <font size="3"><u><b>Where Do The Motor Coaches Depart From Campus?</b></u></font><br>
<font size="3"> All coaches depart from outside Gambier Post Office.</font> </font></p>
<p><font color="#000000" face="helvetica,arial"> <font size="3"><u><b>Where Exactly Do The Motor Coaches Travel?</b></u></font></font></p>
<ul>
  <font color="#000000" face="helvetica,arial"><font size="3"> <b>Columbus Departures</b> will drop off students in front of ticketing, and pick up students outside baggage claim in a coach bus with "Croswell" written on the side. </font></font>

<p> <font color="#000000" face="helvetica,arial"> <font size="3"><u><b>How Long Do The Motor Coaches Take?</b></u></font><br>
<font size="3"> Our motor coach companies estimate the following travel times to/from Kenyon College: </font></font> </p>
<ul>
  <p><font color="#000000" size="3" face="helvetica,arial"><b>Columbus:</b> 1 hour and 10 minutes<br>

  <p><font color="#000000" face="helvetica,arial"><font size="3"><u>Please Note:</u> These are only <i>estimates</i> and may vary due to traffic and weather conditions. </font> </font> </p>
</ul>
<p><font color="#000000" face="helvetica,arial"><font size="3"><u><b>How Do I Purchase Tickets?</b></u></font><br>
<font size="3"> An e-mail will be sent to all students about upcoming Motor Coach departures a couple weeks before each break. Tickets are purchased online, and your E-Ticket confirmation will be sent to you by e-mail. Using credit card, you may purchase tickets until 9:00 PM the day before your departure.</font> </font></p>
<p><font color="#000000" face="helvetica,arial"> <font size="3"><u><b>How Do I Pay For Tickets?</b></u></font><br>
<font size="3"> Tickets may be purchased with credit card, cash, or a check payable to Student Transport. </font> </font></p>
<p><font color="#000000" face="helvetica,arial"> <font size="3"><u><b>Can I Get A Refund?</b></u></font><br>
You may cancel your tickets online at any time, for any reason, until 9 PM the night before your departure. We cannot offer refunds after this point because final passenger counts must be delivered to the conductors, and other students are unable to book the seat that you are not using. Please contact gambiercoachhelp@gmail.com once you've cancelled your ticket in order to receive your refund.</font></p>
<p><font color="#000000" face="helvetica,arial"> <font size="3"><u><b>What's The Weather Cancellation Policy?</b></u></font><br>
<font size="3"> Cancellations due to weather will be at the sole discretion of the motor coach company, whose decision is final. <u>Please do not call to see if a coach will be delayed</u>; this decision will be made at the last possible moment. If departures are delayed, they will resume as soon as meteorologically possible. If you are unable to use your ticket because your motor coach is cancelled or delayed due to weather, you will receive a refund of the motor coach ticket price.</font> </font></p>
<p><font color="#000000" face="helvetica,arial"> <font size="3"><u><b>How Early Do I Need To Be At My Airport?</b></u></font><br>
<font size="3"> We strongly suggest arriving at your airport at least two hours prior to your scheduled departure. Gambier Coach is not responsible for any costs due to missed flights or other connecting transportation. This includes, but is not limited to, cab fare, hotel rooms, meals, plane tickets, and incidental or consequential damages arising from the use of this service.</font> </font></p>
<p><font color="#000000" face="helvetica,arial"> <font size="3"><u><b>Do The Motor Coaches Depart On Time?</b></u></font><br>
<font size="3"> Motor Coaches departing Kenyon are strictly instructed to <u>depart precisely on time</u>. Students have planes to catch and they must get to their destination on time. <b>We strongly urge arriving at the motor coach 15 minutes prior to your scheduled departure.</b> </font></font></p>
<p><font color="#000000" face="helvetica,arial"><font size="3">Motor Coaches returning to Kenyon are not under such stringent time pressure. If a large number of passengers are not on a motor coach at its scheduled departure time (drivers have exact passenger counts), the motor coach may wait a few minutes, at the driver's sole discretion. The last motor coach of the day usually waits longer than earlier ones. </font> </font></p>
<p><font color="#000000" face="helvetica,arial"> <font size="3"><u><b>Who Should I Contact With Additional Questions?</b></u></font><br>
<font size="3"> If your question is not answered here, feel free to contact us: gambiercoachhelp@gmail.com
<p>