<html>
<body>
<font face="helvetica,arial">
</font><center>
  <p><font size="6" face="helvetica,arial"> Weekly Shuttle</font></p>
</body>
</html>


<b>2007-2008 Service Schedule </b><br> <br>

G=Goodrich (Side Entrance), SS=Stop&Shop (by recycling center), W=Wal-Mart (pharmacy sign), MOCA=Massachusetts Museum of Contemporary Art (courtyard), BK=Burger King <br> <br>

Dates of Operation: September 7-November 17; November 30-December 15; January 4-January 19; February 1-March 15; April 4-May 17. <br> <br>
The shuttle will also operate once a week (on Fridays) over Winter Break and Spring Break. (So it will run on December 21, December 28, March 21, and March 28). <br> <br>

<table>
<tr> <td> <b> Friday (pm) </b><br>
4:00 Pickup and Depart G<br>
4:05 Drop at SS<br>
4:10 Drop at MOCA<br>
4:25 Drop at W<br>
4:30 Pickup SS (short time) <br>
4:35 Arrive and Pickup at G<br>
4:40 Depart G <br>
5:15 Drop at Berkshire Mall<br>
5:45 Pickup at W<br>
5:55 Pickup at MOCA<br>
6:05 Pickup at SS<br>
6:10 Drop at G<br>
6:15 Depart G <br>
6:20 Drop at SS<br>
6:25 Drop at W<br>
6:35 Drop at BK<br>
7:00 Pickup at W <br> 
7:10 Pickup at SS <br>
7:15 Drop at G<br>
7:20 Depart G (no pickup)<br>
8:22 Pickup at Berkshire Mall<br>
8:57 Drop at G (no pickup)<br>
9:15 Pickup at BK<br>
9:30 Drop at G (no pickup)<br>
</td> <td><b>Saturday (pm)</b><br>
1:00 Pickup and Depart G<br>
1:05 Drop at SS<br>
1:10 Drop at MOCA<br>
1:25 Drop at W<br>
1:30 Pickup at SS <br>
1:35 Arrive and Pickup at G<br>
1:40 Depart G<br>
2:15 Drop at Berkshire Mall<br>
2:45 Pickup at W<br>
2:55 Pickup at MOCA<br>
3:05 Pickup and Depart SS<br>
3:10 Drop at G<br>
3:15 Depart G <br>
3:20 Drop at SS<br>
3:25 Drop at W<br>
3:35 Drop at BK<br>
4:00 Pickup at W <br>
4:10 Pickup at SS <br>
4:15 Drop at G <br>
4:20 Depart G (no pickup)<br>
5:22 Pickup at Berkshire Mall<br>
5:57 Depart G (no pickup)<br>
6:15 Pickup at BK<br>
6:30 Drop at G (no pickup)<br><br>
 </td> </tr> </table><br>



Please note that all rides are round trip.  For example, do not plan to be dropped off at the Berkshire Mall by a friend and then take the Shuttle home, as it may be full.  Priority for Shuttle rides goes to Williams College students.  Guests of students may ride if space permits, at the discretion of the Shuttle drivers.  The capacity of the shuttle is 10 students plus the driver.<br><br>

Questions? Contact Rachel Hudson (motorcoach@wso.williams.edu)