<html>
<body>
<font face="helvetica,arial">
</font><center>
  <p><font size="6" face="helvetica,arial"> Weekly Shuttle</font></p>
</body>
</html>


<b>2006-2007 Service Schedule </b><br> <br>

G=Goodrich (Side Entrance), SS=Stop&Shop (by recycling center), W=Wal-Mart (pharmacy sign), NM=North Adams Cinemas (front of theater), MOCA=Massachusetts Museum of Contemporary Art (courtyard), BK=Burger King <br> <br>

Dates of Operation: Sep8-Nov18; Dec1-Dec19; Jan5-Jan20; Feb2-Mar10; Apr6-May19. <br> <br>

<table>
<tr> <td> <b> Friday (pm) </b><br>
4:00 Pickup and Depart G<br>
4:05 Drop at SS<br>
4:10 Drop at MOCA<br>
4:25 Drop at W<br>
4:35 Arrive and Pickup at G<br>
4:40 Depart G<br>
5:15 Drop at Berkshire Mall<br>
5:45 Pickup at W<br>
5:55 Pickup at MOCA<br>
6:05 Pickup at SS<br>
6:10 Drop at G<br>
6:15 Drop at SS<br>
6:25 Drop at W<br>
6:35 Drop at BK<br>
6:45 Pickup at SS<br>
6:55 Drop at G<br>
7:00 Depart G (no pickup)<br>
7:15 Pickup at W<br>
7:30 Drop at G<br>
7:35 Depart G (no pickup)<br>
8:22 Pickup at Berkshire Mall<br>
8:57 Drop at G (no pickup)<br>
9:15 Pickup at BK<br>
9:30 Drop at G (no pickup)<br>
</td> <td><b>Saturday (pm)</b><br>
1:00 Pickup and Depart G<br>
1:05 Drop at SS<br>
1:10 Drop at MOCA<br>
1:25 Drop at W<br>
1:35 Arrive and Pickup at G<br>
1:40 Depart G<br>
2:15 Drop at Berkshire Mall<br>
2:45 Pickup at W<br>
2:55 Pickup at MOCA<br>
3:05 Pickup and Depart SS<br>
3:!0 Drop at G<br>
3:15 Drop at SS<br>
3:25 Drop at W<br>
3:35 Drop at BK<br>
3:45 Pickup at SS<br>
3:55 Drop at G<br>
4:00 Depart G (no pickup)<br>
4:15 Pickup at W<br>
4:30 Drop at G<br>
4:35 Depart G (no pickup)<br>
5:22 Pickup at Berkshire Mall<br>
5:57 Depart G (no pickup)<br>
6:15 Pickup at BK<br>
6:30 Drop at G (no pickup)<br><br>
 </td> </tr> </table>



Please note that all rides are round trip.  For example, do not plan to be dropped off at the Berkshire Mall by a friend and then take the Shuttle home, as it may be full.  Priority for Shuttle rides goes to Williams College students.  Guests of students may ride if space permits, at the discretion of the Shuttle drivers.  The capacity of the shuttle is 10 students plus the driver.<br><br>

Questions? Contact Rachel Hudson (motorcoach@wso.williams.edu)